{% extends "base.html" %}
{% block head %}
  {{ super() }}
    <title>{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock title %}</title>
{% endblock %}
{% block content %}
<div id="content">
  <div id="article">
  <h1>All posts</h1>
  <ul id="post-list">
  {% for article in articles %}
          <li>{{ article.date|strftime('%Y-%m-%d') }} - <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
  {% endfor %}
  </ul>
  </div>
</div>
{% endblock content %}
