{% extends "base.html" %}
{% block head %}
  {{ super() }}

    <title>{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock title %}</title>
  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div id="content">
  <h1 id="post-title">{{ article.title }}</h1>
  <div id="date">{{ article.date|strftime('%Y-%m-%d') }} - {{ article.author }}</div>
  <div id="article">
    {{ article.content }}
  </div>
  <hr>
  {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>&ensp;
  {% endfor %}
</div>
{% endblock %}
