<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="referrer" content="no-referrer">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/static/css/style.css" />
        <link rel="icon" sizes="16x16 32x32 64x64" href="{{ SITEURL }}/static/favicon.ico">
        <meta name="viewport" content="width=device-width" />

        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endblock head %}
</head>

<div id="container">
        <div id="header">
                <div id="title" >Louis-Philippe Véronneau</div>
                <nav id="menu"><ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                </ul></nav>
                <div id="feed"><a href="{{ SITEURL }}/feeds/"><img src="{{ SITEURL }}/static/css/feed-icon.svg" title="Syndication" alt="Syndication"></a></div>
        </div>
        <div id="body">
        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
          <div class="footer-content">© 2015-2025 Louis-Philippe Véronneau. Content under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>. Powered by <a href="https://blog.getpelican.com/">Pelican</a></div>
        </div>

</div>

</html>
