{% extends "base.html" %}
{% block head %}
  {{ super() }}
    <title>{% block title %}{{ SITENAME }} - Blog{% endblock title %}</title>
{% endblock %}
{% block content %}
<div id="content">
  <div id="article">
    <h1>This is my blog!</h1>
    <p>This blog has no common thread, but there are good chances you&#39;ll find some post about:</p>
    <ul>
    <li>free software (mainly about free software in fact)</li>
    <li>some of other slice of life things, often food related</li>

    </ul>

    <h1>Recent posts</h1>
    <ul id="post-list">
    {% for article in articles_page.object_list %}
          <li>{{ article.date|strftime('%Y-%m-%d') }} - <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>

    <p>See <a href="{{ SITEURL }}/blog-all">all the posts</a>.

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
{% endblock content %}
