{% extends "base.html" %}
{% block head %}
  {{ super() }}
    <title>{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock title %}</title>
{% endblock %}

{% block content %}
<div id="content">
  <div id="article">
    {{ page.content }}
  </div>
</div>
{% endblock %}
