{% extends "base.html" %}
{% block head %}
  {{ super() }}
    <title>{% block title %}{{ SITENAME }} - Tags{% endblock title %}</title>
{% endblock %}
{% block content %}
<div id="content">
  <div id="article">
  <h1>Posts tagged {{ tag }}</h1>
  <ul id="post-list">
  {% for article in articles %}
          <li>{{ article.date|strftime('%Y-%m-%d') }} - <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
  {% endfor %}
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  </ul>
  </div>
</div>
{% endblock content %}
