@import url("pygments.css");
@font-face {
    font-family: 'claire_handregular';
    src: url('fonts/claire_hand/clairehandregular-webfont.eot');
    src: url('fonts/claire_hand/clairehandregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/claire_hand/clairehandregular-webfont.woff2') format('woff2'),
         url('fonts/claire_hand/clairehandregular-webfont.woff') format('woff'),
         url('fonts/claire_hand/clairehandregular-webfont.ttf') format('truetype'),
         url('fonts/claire_hand/clairehandregular-webfont.svg#claire_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'claire_handbold';
    src: url('fonts/claire_hand/clairehandbold-webfont.eot');
    src: url('fonts/claire_hand/clairehandbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/claire_hand/clairehandbold-webfont.woff2') format('woff2'),
         url('fonts/claire_hand/clairehandbold-webfont.woff') format('woff'),
         url('fonts/claire_hand/clairehandbold-webfont.ttf') format('truetype'),
         url('fonts/claire_hand/clairehandbold-webfont.svg#claire_handbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'linux_biolinum';
    src: url('fonts/linuxbiolinum/linbiolinum.woff2') format('woff2'),
         url('fonts/linuxbiolinum/linbiolinum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body {
    padding: 3% 10% 3% 10%;
    padding-bottom: 70px;   /* Height of the footer */
    font-family: 'linux_biolinum';
    font-size: 110%;
}

#container {
    min-height: 100%;
    position: relative;
    background-image: url("/static/css/graph-tile-black.png");
}

#date {
    font-family: 'linux_biolinum';
    margin: -20px 0 1% 0.5%
}

#content {
  max-width: 900px;
}

#article {
  background-color: rgba(255,255,255,0.75);
  padding: 1%;
}

#header {
    font-family: 'claire_handregular';
    color: white;
    background: #000;
    padding: 10px;
}

#feed {
  float: right;
  bottom: 42px;
  position: relative;
}

#feed a img {
  width: 25px;
}

#tags {
    font-family: 'linux_biolinum';
}

.footnote {
  font-size: 85%;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 1%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width:480px) {
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;   /* Height of the footer */
        background: #000;
        font-size: 100%;
        font-family: 'claire_handregular';
        line-height: 110%;
    }

    .footer-content {
        position: relative;
        bottom: -30%;
        color: white;
        margin-left: 1%;
    }

    #body {
      padding: 3%;
      padding-bottom: 130px;
    }
}

@media only screen and (min-width:481px) {
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 85px;   /* Height of the footer */
        background: #000;
        font-size: 130%;
        font-family: 'claire_handregular';
        line-height: 95%;
    }

    .footer-content {
        position: relative;
        bottom: -45%;
        color: white;
        margin-left: 1%;
    }

    #body {
      padding: 3%;
      padding-bottom: 150px;
    }
}

@media only screen and (min-width:901px) {
  #content {
    margin-left: auto;
    margin-right: auto;
  }
}


/* -- HEADINGS -- */
@media only screen and (max-width:480px) {
    #title {
        font-family: 'claire_handbold';
        text-align: center;
        font-size: 250%;
        padding: 1% 0 9% 0;
    }
}

@media only screen and (min-width:481px) {
    #title {
        font-family: 'claire_handbold';
        text-align: center;
        font-size: 250%;
        padding: 1% 0 3% 0;
    }
}

h1 {
    font-family: 'claire_handregular';
    font-size: 200%;
}

h2 {
    font-family: 'claire_handregular';
    font-size: 155%;
}

h3 {
    font-family: 'claire_handregular';
    font-size: 135%;
}

h4 {
    font-family: 'claire_handregular';
}

h5 {
    font-family: 'claire_handregular';
}

h6 {
    font-family: 'claire_handregular';
}

a {
    color: #c63e3e;
}

::selection {
    background-color: #be2e0d;
    color: #fff;
}

@media only screen and (max-width:900px) {
  code {
      margin: 0 2px;
      padding: 0 5px;
      border: 1px solid #eaeaea;
      background-color: #f8f8f8;
      border-radius: 3px;
  }
}

@media only screen and (min-width:901px) {
  code {
      margin: 0 2px;
      padding: 0 5px;
      white-space: nowrap;
      border: 1px solid #eaeaea;
      background-color: #f8f8f8;
      border-radius: 3px;
  }
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

@media only screen and (max-width:480px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    }
}

@media only screen and (min-width:481px) {
    img {
        display: block;
        padding: 1%;
    }
}


/* -- MENUS -- */

* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}
nav {
    display: block;
    position: relative;
    min-height: 40px;
    text-align: center;
}  
nav, nav a {
    color: white;
    text-decoration: none;
}
nav a {
    display: block;
    padding: 10px;
    font-size: 150%;
}
nav a:hover {
    background: gray;
}
nav ul {
    padding:0;
    margin: 0;
    display: inline-block;
}
nav ul li {
    float:left;
    display:inline;
    position:relative;
    background: #505050;
    border-right: 5px solid #000;
}
nav ul li ul {
    left:0;
    top:100%;
}
nav ul ul {
    display:none;
}
nav li:hover > ul {
    display:block;
    position:absolute;
    z-index:1000;
    width: 120px;
}
nav ul ul li:hover > ul {
    right: -120px;
    top: 0;
    left: auto;
}

/*Hide checkbox and label by default*/
nav > input,
nav > label {
  display: none;
}

nav > label {
  width: 100%;
  float: left;
  padding: 10px;
  padding-right: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
